<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutil</title>
</head>
<body>
Write your text below:
<form action="/analyze" method="get">
    <textarea name="text" style='margin: 0px; width: 714px; height: 54px;'>    </textarea><br>
    <Button type="submit">Analyze</Button>                                  <br>
    <input type="checkbox" name="removepunc">Remove Punction <br>
    <input type="checkbox" name="fullcap">FULL CAPS <br>
    <input type="checkbox" name="newlineremove">New Line Remover <br>
    <input type="checkbox" name="spaceremove">Extra Space Remover<br>
    <input type="checkbox" name="charcount">Character Count<br>
</form>
</body>
</html>